<div class="container"> 
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-8">
          <li><a href="http://www.hhs.gov/">HHS Home</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="http://www.hhs.gov/privacy.html">Privacy</a>  
        </div>
        <div class="col-md-4">
          <p class="muted pull-right">Disclaimer: This is a beta version of the HHS FairTrade website which is still being tested before its official release. This website is managed by the Department of Health & Human Services, <a href="www.hhs.gov/idealab">IDEA Lab</a>. Contact <a href="mailto:read.holman@hhs.gov?subject=HHS FairTrade">Read Holman</a> if you have any questions.
 200 Independence Avenue, S.W. - Washington, D.C. 20201</p>
        </div>
      </div>
    </div>  
	  <hr> 
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-12">
        <ul class="list-unstyled inline">
            <li><a href="http://www.hhs.gov/accessibility.html">Accessibility</a> 
            <li><a href="Read.Holman@hhs.gov">Contact Us</a></li>
		  <li><a href="http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html">Plain Writing Act</a></li>
		  <li><a href="http://www.hhs.gov/web/tools/plugins.html">Viewers & Players</a></li>
		  <li><a href="http://www.whitehouse.gov/">The White House</a></li>
		  <li><a href="http://www.usa.gov/">USA.gov</a></li>
        </ul>
      </div> 
    </div>
  </div>
</div>
