<div class="container"> 
    <div class="row">
      <div class="col-lg-12">
          <p class="centered">Disclaimer: This is a beta version of the HHS FairTrade website which is still being tested before its official release. This website is managed by the Department of Health & Human Services, <a href="http://hhs.gov/idealab" target="_new">IDEA Lab</a>. Contact <a href="mailto:read.holman@hhs.gov?subject=HHS FairTrade">Read Holman</a> if you have any questions.
 200 Independence Avenue, S.W. - Washington, D.C. 20201</p>
 
 <p class="centered">This web site is released in Beta for the purpose of hypothesis valid and user testing. It is available to HHS Staff via HHS Intranet. We hope you find it useful and will share the site other HHS Department staff.</p>
 
 <p class="centered">Disclaimer: Parts of the site may not function perfectly. Further, parts of this site may not be accessible to those using assistive technologies. If you have questions about the site, or if you need accessibility assistance with this site, please contact Read Holman at 202-690-6946 or <a href="mailto:read.holman@hhs.gov?subject=HHS FairTrade">read.holman@hhs.gov</a> </p>
      </div>
    </div>  
	  <hr> 
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-12">
        <ul class="list-unstyled" style="display:inline">
            <li><a href="http://hhs.gov/accessibility.html" target="_new">Accessibility</a> 
            <li><a href="mailto:read.holman@hhs.gov?subject=HHS FairTrade">Contact Us</a></li>
		  <li><a href="http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html" target="_new">Plain Writing Act</a></li>
		  <li><a href="http://www.hhs.gov/web/tools/plugins.html" target="_new">Viewers & Players</a></li>
		  <li><a href="http://www.whitehouse.gov" target="_new">The White House</a></li>
		  <li><a href="http://www.usa.gov" target="_new">USA.gov</a></li>
        </ul>
      </div> 
    </div>
  </div>
</div>
