<div class="intro-header">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>HHS FairTrade(Beta)</h1>
          <hr class="intro-divider">
		  <h3>Facilitating the Exchange of Project Ideas and Opportunities </h3>
          <ul class="list-inline intro-social-buttons">
            <li class="label" style="background-color:#F24024;"> <span class="network-name">Post Opportunities for Others to Complete</span></li>
            <li class="label" style="background-color:#F24024;"> <span class="network-name">Collaborate on Long Term Projects</span></li>
            <li class="label" style="background-color:#F24024;"> <span class="network-name">Complete Opportunities</span></li>
          </ul>
        </div>        
      </div>
    </div>

  </div><!-- /.container -->

</div><!-- /.intro-header -->

